.dice {
  float: left;
  width: 50px;
  background: red;
  color: white;
  border: #999 1px solid;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face, .third-face, .fourth-face, .fifth-face, .sixth-face  {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
    align-self: flex-end;
}

.third-face .pip:nth-of-type(2) {
    align-self: center;
}

.third-face .pip:nth-of-type(3) {
    align-self: flex-end;
}

.fourth-face .column, .fifth-face .column, .sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

#dice-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: sans-serif;
  background: linear-gradient(top, #222, #333);
}

[class$="face"] {
  margin: 10px;
  padding: 2px;
  background-color: #e7e7e7;
  width: 64px;
  height: 64px;
  // width: 104px;
  // height: 104px;
  object-fit: contain;

  box-shadow:
    inset 0 2px #d7d7d7,
    inset 0 -2px #bbb,
    inset 2px 0 #d7d7d7,
    inset -2px 0 #d7d7d7;

  border-radius: 5%;
}

.pip {
  display: block;
  width: 12px;
  height: 12px;
  // width: 24px;
  // height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}
