extends core/master

block prepend body

    main(class="content container")
        div(id="die1" class="dice") 0
        div(id="die2" class="dice") 0
        div.controls
            <button onclick="rollDice()">Roll Dice</button>
            p#status
            p#status2

    div#dice-wrapper
        include components/dice

block append scripts
