@viewport { width: device-width; }

* {
  margin: 0;
  padding: 0;

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  @include mq(tablet) {
  }
  @include mq(laptop) {
  }
}

body {
  // font: 62/5%/1.25 $regular;
  // font-family: $regular;
}

body,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

// temporary style
main.container {
  display: block;
  overflow: hidden;
}
