// Color Name                                 Hue
// ==========================================================



// Font Variables
// ==========================================================
$fallback: Helvetica, arial, sans-serif;



// Breakpoints
// ==========================================================
$hi-res: min-resolution 1.5dppx;
$mobile-wide: 480px;
$tablet: 760px;
$tablet-wide: 1024px;
$laptop: 1200px;
$desktop: 1600px;
