div.first-face
    span.pip

div.second-face
    span.pip
    span.pip

div.third-face
    span.pip
    span.pip
    span.pip

div.fourth-face
    div.column
        span.pip
        span.pip
    div.column
        span.pip
        span.pip

div.fifth-face
    div.column
        span.pip
        span.pip
    div.column
        span.pip
    div.column
        span.pip
        span.pip

div.sixth-face
    div.column
        span.pip
        span.pip
        span.pip
    div.column
        span.pip
        span.pip
        span.pip
