doctype html
html(lang="en")
    head
        title Dice Roller

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, minimal-ui, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

        link(rel='stylesheet', href='css/main.css')

    body
        block body

            script(src='js/dice.js')

        block scripts
